FROM python:3.13-slim

WORKDIR /app

# Install uv and project dependencies
COPY pyproject.toml uv.lock ./
RUN pip install --upgrade pip && pip install uv && uv pip install --system

# Copy the rest of the application
COPY src ./src
COPY main.py ./

# Set the default command to run your scheduler
CMD ["python", "main.py"]
